/*.center {
    position: absolute;
    top: 33%;
    left: 33%;
    transform: translate(-50%, -50%);
}*/
.wrap-tiny{
    width: 100%;
    margin-bottom: 24px;
    position: relative;
}
.count-tiny{
    margin-top: 18px;
}
.count-tiny>h2 {
    font-size: 20px;
}

input[type="checkbox"] {
    width: 170px;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0, .2);
    transition: 0.5s;
    position: relative;
}
input:checked[type="checkbox"] {
    background: #02a9f4;
}
input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0, .2);
    transition: 0.5s;
}
input:checked[type="checkbox"]::before {
    left: 120px;
}
.wrap-input-key{
    display: flex;
}
.wrap-input-key > .btn{
    border-radius: 0px!important;
}

